/* variables */
@warning-color: #F92672;
@dark-color: #000;
@middle-color: #333;
@light-color: #fff;
@default-space: 10px;
@dark-yellow: #EDB220;
@light-yellow: #FDD11A;

/* styles */
.app-input-asterisk {
	color: @warning-color;
	font-size: 18px;
}
.app-input-label {
	margin-bottom: 7px;
	font-weight: bold;
}
.app-checkbox-options {
	color: @light-color;
}
.app-action-icon {
	margin: 0 5px;
	cursor: pointer;
}

.app-radio-group {
	margin: 5px 0;
}

.app-dropzone {
	margin-bottom: 20px;
	height: 70px;
	width: 100%;
	color: @middle-color;
	border: 2px dashed @light-yellow;
	border-radius: 5px;
	padding: @default-space;
	cursor: pointer;
}
.app-dropzone-enter {
	border: 2px solid @dark-yellow;
}

.app-message-popup {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 10;
	padding: 5px;
}
.app-message-bar {
	background-color: #FEF1B7;
	color: black;
	font-size: 90%;
	border: 1px dashed @middle-color;
	padding: 5px @default-space;
	border-radius: 15px;
	white-space: nowrap;
	width: auto;
	height: auto;
}

.ag-cell {
    padding-top: 3px !important;
}

body {
    background-color: @middle-color;
}
.app-default {
	color: orange;
	text-align: center;
}
.navbar-default, .modal-header {
	background-color: @light-yellow;
	border: 0;
}
.navbar-default .navbar-brand, .navbar-right a {
	color: @dark-color;
}
.sidebar {
	background-color: @middle-color;
	color: @light-yellow;
}
.sidebar ul li {
    border-bottom: 0;
}
.panel-count {
	border-color: @dark-yellow;
	color: @middle-color;
}
.panel-count .panel-heading {
	background-color: @light-yellow;
	color: @dark-color;
}
.panel-desc {
	color: @dark-yellow;
	font-weight: bold;
}
